#map {
	height: 400px;
	/* The height is 400 pixels */
	width: 100%;
	/* The width is the width of the web page */
}

.container-custom {
    margin-top: 108px;
	
	background: url('../img/header-background.webp') center center no-repeat fixed;
	background-size: cover;
	text-align: center;
}

body, p {
	color: #5e6576; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}